@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
ul,ol,p,h1,h2,h3,h4,h5,h6,html,body{
	padding: 0;
	margin: 0;
}
$rpx:25;
$bgColor:#0dc441;
$fontColor:#333;
html{
	width: 100%;
	height: 100%;
}
body{
	@extend html;
	padding-top:80/$rpx+rem;
	padding-bottom:49/$rpx+rem;
	box-sizing: border-box;
}
header{
	width:100%;
	height:44/$rpx+rem;
	position: fixed;
	top:0;
	background:$bgColor;
	display: flex;
	justify-content:space-between;
	div{
		margin: 0 10/$rpx+rem;
	}
	span{
		line-height: 44/$rpx+rem;
		color: #fff;
	}
	span.menu{
		font-size: 24/$rpx+rem;
	}
	span.code{
		font-size: 24/$rpx+rem;
	}	
	div:nth-of-type(2){
		width: 120/$rpx+rem;
		input{
			display:block;
			width: 59/$rpx+rem;
			height: 25/$rpx+rem;
			box-sizing:border-box;
			border:none;
			color: #fff;
			margin: 0;
			padding: 0;
			margin-top: 9.5/$rpx+rem;
			line-height: 25/$rpx+rem;
			background:#0bce63;
			opacity: 0.8;
		}
		input:nth-of-type(1){
			float: left;
			border-radius:10px 0 0 10px;
		}
		input:nth-of-type(2){
			float: right;
			border-radius:0 10px 10px 0;
		}
		input.active{
			opacity: 1;
			background:#0ad985;
		}		
	}
}
nav{
	width: 100%;
	height:36/$rpx+rem;
	position:fixed;
	top:44/$rpx+rem;
	background:#fff;
	border-bottom:1px solid #d6d6d6;
	box-sizing:border-box;
	ul{
		display: flex;
		justify-content: space-around;
		list-style: none;
		text-align: center;
		line-height: 36/$rpx+rem;
		li{	
			display: inline-block;
			width: 33%;
			box-sizing:border-box;
			height: 36/$rpx+rem;
			font-size: 16/$rpx+rem;
		}
		li.active{
			color: $bgColor;
			border-bottom:2px solid $bgColor;
		}	
	}
}
section{
	height:100%;
	width:100%;
	overflow: auto;
	display:flex;
	flex-wrap:wrap;
	div.box{
		width: 177/$rpx+rem;
		margin: 5/$rpx+rem;
		img{
			width: 178/$rpx+rem;
			height: 178/$rpx+rem;
		}
		h3{
			font-size: 14/$rpx+rem;
		}
	}
}
footer{
	width:100%;
	height:49/$rpx+rem;
	position: fixed;
	bottom:0;
	background:#fff;
	border-top:1px solid #d6d6d6;
	ul{
		list-style-type: none;
		display: flex;
		justify-content:space-around;
		box-sizing:border-box;
		span{
			margin-top:2/$rpx+rem;
			display: block;
			height: 30/$rpx+rem;
			text-align: center;
			color: #999;
		}
		span.home,span.find{
			font-size: 28/$rpx+rem;
		}
		span.me{
			font-size: 27/$rpx+rem;
		}
		span.quit{
			font-size: 26/$rpx+rem;
		}
		i{
			display: block;
			height: 15/$rpx+rem;
			line-height: 15/$rpx+rem;			
			font-style: normal;
			font-size: 14/$rpx+rem;
			color: #999;
		}
		li.active{
			span{
				color: $bgColor;
			}
			i{
				color: $bgColor;
			}
		}
		div.circular{
			width: 57/$rpx+rem;
			height: 57/$rpx+rem;
			border-radius:50%;
			border:1px solid #d6d6d6;
			box-sizing:border-box;
			text-align:center;
			line-height: 54/$rpx+rem;
			margin-top:-8/$rpx+rem;
			background:#fff;
			span.camera{
				font-size: 35/$rpx+rem;
			}
		}
	}	
}